/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');

/*Utilities*/
*{
	font-family: 'Crimson Text', serif;
	margin: 0;
	padding: 0;
}
ul,ol,dl{
	margin: 0;
	padding: 0;
}
p{
	margin-bottom: 0;
}
.clear{
	clear: both;
}
.error{
	color:#f00;
}
.space{
	height: 20px;
	width: 100%;
}
.section-padding{
	padding: 40px 10px 20px 10px;
}
@media(max-width: 768px){
	.row>div{
		margin-top: 20px;
	}
}
.btn-light{
    background-color: #d8dbde;
}
.full-width-btn{
	width: 100%;
	transition: all 0.2s linear;
}
.full-width-btn:hover{
	background-color: #009688;
	border-color: transparent!important;
}

/*Backgrounds Colors*/
.dark-blue-bg{
	background-color: #0c5aad;
}
.light-blue-bg{
	background-color: #e1f5fc;
}
.light-grey-bg{
	background-color: #f1f1f1;
}
.light-pink-bg{
	background-color: #f3e6f5;
}
.light-green-bg{
	background-color: #e3fced;
}
.light-yellow-bg{
	background-color: #faf9e1;
}
.dark-yellow-bg{
	background-color: #ede1b2;
}
.transparent-bg{
	background-color: transparent;
}


/*Fonts*/
.dark-blue-font{
	color: #0c5aad;
}
.dark-pink-font{
	color: #fa845c;
}
.bold-yellow-font{
	font-style: italic;
    color: yellow;
    font-weight: 800;
    font-family: 'Old Standard TT', serif;
}


/*Image Hover Effects*/
.wrapper-container{
	position: relative;
}
.wrapper-layer{
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: red;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.3s linear;
	background-color: rgba(0,0,0,0.5);
}
.wrapper-layer>p{
	/*display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;*/
	position: absolute;
	top: 50%;
	left: 46%;
	transition: all 0.3s linear;
	color: #fff;
}
.wrapper-layer:hover{
	opacity: 1;
}
.wrapper-layer:hover.wrapper-layer>p{
	top: 40%;
}


/*Scale Effect*/
.scale-container{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.img-scale{
	transition: transform 0.3s linear;
}
.img-scale:hover{
	transform: scale(1.3);
}

.cart-link{
	position: relative;
}
.cart-number{
	background-color: #f00;
    display: inline-block;
    position: absolute;
    top: -4px;
    border-radius: 50%;
    color: #fff;
    left: 15px;
    padding: 0px 6px;
    font-size: 10px;
}
.disable{
	cursor: not-allowed;
}