header{
	height: 70px;
	padding: 10px;
	display: flex;
	width: 90%;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}
.right-header>a{
	margin: 0px 5px;
	padding: 0px 5px;
}
.right-header>a:nth-child(3),
.right-header>a:nth-child(3){
	margin-top: 10px;
}
.lg-nav{
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}
ul.lg-nav li>a{
	color: #fff;
}
.search-link{
	position: relative;
	z-index: 2;
}
.search-link .fa{
	background-color: #ffb399;
	padding: 9px 15px;
}
.search-link .input-box input{
	position: absolute;
    height: 34px;
    right: 43px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: all 0.2s linear;
}
.show-input{
    width: 335px;
    padding: 6px 12px;
    opacity: 1;
}
.hide-input{
 	width: 0px;
    padding: 0px;
    opacity: 0;	
}
/*Mobile Nav*/
.sm-nav{
	display: none;
}
@media(max-width: 1000px){
	header{
		display: none;
	}
	.lg-nav{
		display: none;
	}
	.sm-nav{
		display: block;
		height: 60px;
	}
	.sm-nav-container{
		display: flex;
		justify-content: space-between;
		width: 95%;
		margin: 0 auto;
		padding-top: 12px;
	}
	.logo-and-col-btn{
		display: flex;
		align-items: center;	
		height: 100%;	
	}
	.collapse-btn{
		display: inline-block;
		width: 40px;
		margin-top: 4px;
		cursor: pointer;
	}
	.bar{
		height: 2px;
	    width: 25px;
	    border-radius: 2px;
	    margin: 5px 0px;
	    background-color: #fff;
	}
	.collapse-logo{
		color: #fff;
		display: inline-block;
	}
	.collapse-logo>h4{
		margin-bottom: 0;
	}
	.accessories-div>a{
		margin: 0px 10px;
		color: #fff;
	}
	.search-link .fa{
		padding: 5px 15px;
	}
	.search-link .input-box input{
	    height: 42px;
	    right: 58px;
	}
	/*.show-input{
	    width: 335px;
	    padding: 6px 12px;
	    opacity: 1;
	}
	.hide-input{
	 	width: 0px;
	    padding: 0px;
	    opacity: 0;	
	}*/
}
@media(min-width: 320px) and (max-width: 550px){
	.search-link .input-box input {
	    top: 33px;
	    left: -140px;
	    width: 300px;
	}
}
@media(max-width: 320px){
	.search-link .input-box input {
	    top: 33px;
	    left: -140px;
	    width: 300px;
	}
}
@media(max-width: 320px){
	.sm-nav{
		height: 95px;
	}
	.sm-nav-container{
	    flex-wrap: wrap;
	    text-align: right;	    
	}
	.accessories-div{
	    text-align: right;
	    width: 100%;
	    margin-top: 5px;
	}
	.search-link .input-box input {
	    left: -65px;
    	width: 243px;
	}
}
/*Sidebar*/
.sidebar-bg{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: 1;
	display: none;
}
.sidebar{
	position: fixed;
	width: 250px;
	background-color: #fff;
	z-index: 2;
	top: 0;
	left: -260px;
	bottom: 0;
	box-shadow: 0px 3px 15px #2f2d2d;
	transition: all 0.3s linear;
}
.sidebar-head{
	height: 60px;
	position: relative;
}
.sidebar-head .sidebar-links>a{
	color: #fff;
	margin-top: 0;
	padding-top: 16px;
	display: inline-block;
}
.close-btn-div{
	width: 25px;
    height: 20px;
    position: absolute;
    right: 10px; 
	top: 20px;
    cursor: pointer;
    padding: 3px 0px;
}
.close-btn{
	position: relative;
}
.close-btn:after,
.close-btn:before{
	position: absolute;
	content: '';
	height: 2px;
    width: 25px;
    border-radius: 2px;
    margin: 5px 0px;
    background-color: #fff;
}
.close-btn:after{
	transform: rotate(-45deg);
}
.close-btn:before{
	transform: rotate(45deg);
}
.sidebar-links>a{
	color: #000;
	font-weight: 500;
	display: block;
	margin: 5px 20px;
}

/*Whole Page Layer*/
.whole-page-layer{
	display: none;
	z-index: 1;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
}

/*drop down style*/
li.mydropdown{
	position: relative;
}
ul.my-dropdown-menu{
	visibility: hidden;
	padding-top: 2.3rem;
	list-style: none; 
	transition: all .2s linear;
	position: absolute;
	left: 0;
	padding-left: 0;
	top: 150%;
	z-index: 1;
}
ul.my-dropdown-menu li a{
	display: block;
    padding: .1rem 5rem .6rem 2rem;
}

@media(min-width:768px){
	.mydropdown:hover .my-dropdown-menu{
		visibility: visible;
		top: 100%;
	}
}

/*small navigation*/
.mydropdown-menu{
	display: none;
	padding-left: 2rem;
}
.mydropdown-menu-show{
	display: block;
}
.mydropdown-menu a{
	display: block;
}