.signup-container{
	display: flex;
	min-height: 600px;
	justify-content: center;
	align-items: center;
	align-items: center;
}

.signup-box{
    min-height: 425px;
    min-width: 450px;
    box-shadow: 0px 0px 10px #555;
    border-radius: 6px;
    overflow: hidden;
}
.signup-container .form-control{
	border-radius: 0px;
	border:none;
	border-bottom: 1px solid #ced4da;
	padding-left: 5px;
}
.signup-container .form-control:focus{
	box-shadow: none;
}
.signup-header{
	background-image: url('../img/login-bg.jpg');
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#login .signup-box{
	min-width: 389px;
	min-height: 401px;
}
.btn-transp{
	background-color: transparent;
	box-shadow: 0px 0px 10px #555;
	color: #555;
}
@media(max-width: 471px){
	.signup-box,#login .signup-box{
		min-width: 370px;
	}
}
@media(max-width: 388px){
	.signup-box,#login .signup-box{
		min-width: 300px;
	}
}