	<?php include('inc/links.html'); ?>
	<link rel="stylesheet" type="text/css" href="css/signup.css">
	<title>Login- Gloria</title>
</head>
<body>
	<?php include('inc/navbar.html'); ?>
	<section id="login" ng-controller="loginController">
	<div class="card light-grey-bg text-dark">
	    <div class="card-body">
			<div class="container">
				<h5 class="pull-left"><b>LOGIN</b></h5>
				<p class="pull-right"><b>Home > Login</b></p>
			</div>
	    </div>
	</div>
	<section id="login">
		<div class="signup-container">
			<div class="signup-box">
				<div class="signup-header">
					<h2 class="text-white">Login</h2>
				</div>
				<div class="p-3">
					<form name="loginFrom" ng-submit="onSubmit($event.target)">
						<p class="text-danger text-center" ng-if="loginError!=undefined">{{loginError}}</p>
						<div class="form-group">
							<input type="text" name="" placeholder="Username" class="form-control" ng-model="username" >
						</div>
						<div class="form-group">
							<input type="password" name="" placeholder="Password" class="form-control" ng-model="password" >
						</div>
						<div class="space"></div>
						<button class="btn btn-primary w-100" ng-disabled="!loginFrom.$valid" ng-class="{'disable':!loginFrom.$valid}">Login</button>
					</form>
					<div class="space"></div>
					<a href="signup.html" class="btn btn-transp w-100">New to Gloriastylx?Sign Up</a>
				</div>
				
			</div>
		</div>
	</section>
	<?php include('inc/footer.html'); ?>
	