	<?php include('inc/links.html'); ?>
	<link rel="stylesheet" type="text/css" href="css/productstyle.css">
	<title>Mens Formal Shirts- Gloria</title>
</head>
<body>
	<?php include('inc/navbar.html'); ?>
	<div class="card light-grey-bg text-dark">
	    <div class="card-body">
			<div class="container">
				<h5 class="pull-left"><b>MEN FORMAL SHIRTS</b></h5>
				<p class="pull-right"><b><a href="./">Home</a> > <a href="mens-collection.html">Men</a> > Formal Shirts</b></p>
			</div>
	    </div>
	</div>
	<section class="products-sec" class="section-padding" ng-controller="formalController" product-dir>
		<div class="space"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-12">
					<div class="categoty">
					</div>
					<div class="total-prod">
						<h5 class="dark-blue-font">Available Items: <span class="bg-secondary pt-1 pb-1 pl-2 pr-2 text-white">{{formalShirts.length}}</span></h5>
					</div>
				</div>
				
			</div>
			<div class="space"></div>
			<h6> <strong>SORT BY:</strong> </h6>
			<div class="sort-btns">
				<a href="#" class="active-sort-btn" ng-click="sortBy(0)">Newest Arrival</a>
				<a href="#" ng-click="sortBy(1)">Price- Low to High</a>
				<a href="#" ng-click="sortBy(2)">Price- High to Low</a>
			</div>
			<hr>
			<div class="space"></div>
			<div class="row">
				<!-- Filters Part -->
				<div class="col-lg-3 col-md-4 col-sm-6 col-12">
					<div class="filter-div">
						

						<div class="card">
						    <div class="card-header">
							    <b>PRICE</b>
						    </div>
					      	<div class="card-body bg-info text-white p-2">
					        	<div class="form-group">
					        		<input type="text" placeholder="Min" class="form-control" min="500" value="₹500">
					        	</div>
					        	<input type="text" placeholder="Max" class="form-control">
					      	</div>
					  	</div>
					  	<br>
						<!-- <div class="card">
						    <div class="card-header">
							    <b>SIZE</b>
							    
						    </div>
					      	<div class="card-body bg-info text-white p-1">
					        	<ul class="size-list">
					        		<li><a href="#">SM</a></li>
					        		<li><a href="#">M</a></li>
					        		<li><a href="#">X</a></li>
					        		<li><a href="#">XL</a></li>
					        	</ul>
					      	</div>
					  	</div>

					  	<hr> -->
						<!-- <div class="card">
						    <div class="card-header">
							    <b>COLOR</b>
							   
						    </div>
					      	<div class="card-body bg-info text-white p-1">
					        	<ul class="color-list">
					        		<li><a href="#"></a></li>
					        		<li><a href="#"></a></li>
					        		<li><a href="#"></a></li>
					        		<li><a href="#"></a></li>
					        	</ul>
					      	</div>
					  	</div> -->
					</div>
				</div>

				<!-- Producst List -->
				<div class="col-lg-9 col-md-8 col-sm-6 col-12 text-center">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-4 col-md-6 col-sm-12 col-12" ng-repeat="formalShirt in formalShirts|limitTo:productLimit|orderBy:onPrice">
								<div class="product-container">
									<a class="product-div" href="product.html?product=mens-formal-shirt" ng-click="setProduct(formalShirt)">
										<div class="product-img">
											<img ng-src="productsimg/{{formalShirt.sizes[0].images|toArrFirst}}" class="img-fluid">
										</div>
										<div class="product-details">
											<h6 class="dark-blue-font">{{formalShirt.product.product_name}}</h6>
											<div class="pricing">
												<span>&#8377; {{formalShirt.sizes[0].mprice}}</span> &nbsp;
												<span><del> {{formalShirt.sizes[0].mrp}}</del></span>
												<span class="bg-info p-2 text-white">{{formalShirt.sizes[0].mprice|getDiscount:formalShirt.sizes[0].mrp}}% OFF</span>
											</div>
											<div class="space"></div>
											<h6 >Size: <span ng-repeat="size in formalShirt.sizes">{{size.sizename}}&nbsp;&nbsp;</span></h6>
										</div>
										<a href="#wish" class="wishlist-link"><span class="fa fa-heart-o"></span></a>
									</a>
								</div>
							</div>
						</div>
						<button ng-click="increase()" class="btn btn-primary mt-2 mb-2 w-100">Load More</button>
					</div>
				</div>
			</div>
		</div>
		<section class="loader-container" ng-show="isSort">
			<img src="img/loader.gif">
		</section>
	</section>
	<div class="clear"></div>
	<script src="js/product.js"></script>
	<?php include('inc/footer.html'); ?>