	<?php include('inc/links.html'); 
	if(!isset($_GET['product'])){
		header("Location:./index.html");
	}
	?>
	<link rel="stylesheet" type="text/css" href="css/productstyle.css">
	<title>Product- Gloria</title>
</head>
<body ng-controller="productController">
	<?php include('inc/navbar.html'); ?>
	<div class="card light-grey-bg text-dark">
	    <div class="card-body">
			<div class="container">
				<h5 class="pull-left"><b>{{product.product.product_name}}</b></h5>
				<p class="pull-right"><b><a href="index.html">Home </a> > Category > Prod</b></p>
			</div>
	    </div>
	</div>
	<section class="loader-container" ng-show="isAddedCart">
		<img src="img/loader.gif">
	</section>
	<section id="single-prod-sec" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="bigger-img">
						<img ng-src="productsimg/{{product.sizes[index].images|toArrFirst}}" class="img-fluid">
						<!-- <a href="#wish" class="wishlist-link"><span class="fa fa-2x fa-heart-o"></span></a> -->
					</div>
					<div class="thumbnails">
						<div class="owl-carousel">
							<div ng-repeat="image in product.sizes[0].images|toArr track by $index" class="mr-2"><a href="#" ><img ng-src="productsimg/{{image}}" class="img-fluid"></a></div>
						</div>
					</div>
					<div class="space"></div>
					<div class="space"></div>
						<div class="shop-btns">
							<a href="#" class="btn btn-success">Buy Now</a>
							<a href="#" class="btn btn-light" ng-click="addToCart(product.product,product.sizes[index])">Add to Cart</a>
						</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12">
					<div class="prod-details">
						<h4 class="dark-blue-font">{{product.product.product_name}}</h4>
						<div class="pricing">
							<span class="real-price"><b>&#8377;  {{product.sizes[index].mprice}}</b></span> &nbsp;
							<span><del>  {{product.sizes[index].mrp}}</del></span>
							<span class="bg-info p-2 text-white"> {{product.sizes[index].mprice|getDiscount:product.sizes[index].mrp}}% OFF</span>
						</div>
						
						<div class="space"></div>
						<h4>Size: </h4>
						<div class="bg-info text-white p-1">
				        	<ul class="size-list" >
				        		<li ng-repeat="size in product.sizes" ng-click="setIndex($index)" class="mr-2"><a href="#">{{size.sizename}}</a></li>
				        	</ul>
				      	</div>

				      	<div class="space"></div>
				      	<h4>Colors:</h4>
				      	<div class="card-body bg-info text-white p-0">
				        	<ul class="color-list">
				        		<li ng-repeat="color in product.sizes[index].color|toArr" class="mr-2"><a href="#">{{color|uppercase}}</a></li>
				        	</ul>
				      	</div>

				      	<div class="space"></div>
				      	<h4>Description: </h4>
				      	<div class="desc">
				      		<p>{{product.product.description}}</p>
				      	</div>

				      	<div class="space"></div>
				      <!-- 	<div class="card">
						    <div class="card-header">
							    <b>SPECIFICATION</b>
							   
						    </div>
					      	<div class="card-body bg-info text-white pt-3 pb-0">
					      		<table class="table table-bordered">
								    <tbody>
								      <tr>
								        <td>John</td>
								        <td>Doe</td>
								      </tr>
								      <tr>
								        <td>Mary</td>
								        <td>Moe</td>
								      </tr>
								      <tr>
								        <td>July</td>
								        <td>july@example.com</td>
								      </tr>
								    </tbody>
								  </table>
					      	</div>
					  	</div> -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="js/product.js"></script>
	<?php include('inc/footer.html'); ?>